@model Mtwx.Web.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutNoHeader.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div>
                @Html.LabelFor(u => u.UserName, new { @class = "control-label" })
            </div>
            <div>
                @Html.TextBoxFor(u => u.UserName, new {@class = "form-control"})
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div>
                @Html.LabelFor(u => u.Password, new { @class = "control-label" })
            </div>
            <div>
                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <input type="submit" value="Log In" class="btn" />
        </fieldset>
    </div>
}
