@{
    var isAuthenticated = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Site Access Wrapper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@if (isAuthenticated)
{
<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
    @Html.ActionLink("Site Access Wrapper", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a site...</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a id="homesteadVillage"
                       class="dropdown-item"
                       href="#"
                       data-href="https://www.homesteadvillage.org/login/"
                       data-login-action="https://www.homesteadvillage.org/login/"
                       data-user-id="Village"
                       data-password="1800Marietta"
                       data-user-id-field="user_login"
                       data-password-field="user_pass">Homestead Village</a>

                    <a id="myFreeCycle"
                       class="dropdown-item"
                       href="#"
                       data-href="https://my.freecycle.org/"
                       data-login-action="https://my.freecycle.org/login"
                       data-user-id="Pontist"
                       data-password="monkey"
                       data-user-id-field="username"
                       data-password-field="pass">My Freecycle</a>

                    <a id="volvoCommunity"
                       class="dropdown-item"
                       href="#"
                       data-href="https://www.volvoforums.org.uk/"
                       data-login-action="https://www.volvoforums.org.uk/login.php?do=login"
                       data-user-id="Cat_Herder"
                       data-password="monkey"
                       data-user-id-field="navbar_username"
                       data-password-field="navbar_password">Volvo Community</a>

                    <a id="evoqueForums"
                       class="dropdown-item"
                       href="#"
                       data-href="http://www.evoqueforums.net/"
                       data-login-action="http://www.evoqueforums.net/forum/login.php?do=login"
                       data-user-id="Yak_Lorry"
                       data-password="EVO6suzidic"
                       data-user-id-field="navbar_username"
                       data-password-field="navbar_password">Evoque Forums</a>
                </div>
                <div class></div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                @Html.ActionLink("Logoff", "LogOff", "Account", null, new {@class = "nav-link"})
            </li>
        </ul>
    </div>
</nav>
}
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Site Access Wrapper</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
